@import url(../../../client/css/theme.css);
@import url(../../../client/css/a11yHidden.css);

/* 폰트사이즈, 컬러, 배경컬러 설정 */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--black);
  color: var(--white);
}

body {
  background: no-repeat url(../../../client/assets/img/desktop/landing/backgorund.png);
  background-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 헤더 */
.webHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  position: fixed;
  width: 100%;
  z-index: 100;
}
.webHeader__NavMenu,
.member-container button {
  display: none;
}
.webHeader__logaNavContainer {
  display: flex;
  flex-flow: row nowrap;
}
.webHeader__logo {
  margin: 20px;
}
.webHeader__logo__img {
  width: 8rem;
}
.webHeader__logo__link {
  display: inline-block;
}

.NavMenu__list {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
  align-items: center;
  font-size: var(--label-l);
  color: var(--white);
}

.NavMenu__list__item {
  margin-right: 50px;
}
.NavMenu__list__liveItem {
  display: flex;
  align-items: center;
}
.NavMenu__list__liveItem__img {
  width: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.NavMenu__list__item__img {
  width: 70px;
}

.member-container {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 7px;
  margin-right: 30px;
}
.member-container__btn {
  background: none;
  border: none;
  width: 35px;
  margin-right: 10px;
}
.member-container__img {
  width: 100%;
}

/* 온보딩 메인페이지 시작 */
.onboardingMain {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
/* 온보딩 메인페이지 끝 */

/* 온보딩 히어로섹션 시작 */
.onboardingHero {
  height: 980px;
}

.onboardingHero .info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 562px;
  height: 416px;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 160px;
}

.info__login {
  /* 아 인라인블록은 안에 내용이 있을때만 반영되어서 display:block으로 해주는거군 */
  display: block;
  background-color: var(--brand-red-2);
  border-radius: var(--radius-m);
  width: 506px;
  height: 80px;
  font-size: var(--label-xl);
}

.info__login img {
  position: relative;
  right: 47px;
}
/* 이거 고쳐야됨 */
.info__login div {
  display: inline;
  text-align: center;
  vertical-align: text-bottom;
  line-height: 220%;
  margin-bottom: 60px;
}
/* 온보딩 히어로섹션 끝 */

/* 온보딩 오리지널섹션 시작 */
.onboardingOriginal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  height: 919px;
  position: relative;
}

.onboardingOriginal .info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 392px;
  height: 176px;
  /* background-color: blue; */
  /* 자식요소의 좌측상단을 부모요소의 중앙에 */
  /* top: 50%;
  left: 50%; */
  /* 자식요소의 50%만큼 마이너스 축으로 이동시키기 */
  /* transform: translate(-50%, -50%); */
  /* background-color: pink; */
  text-align: center;
  top: 180px;
}
.contents__list {
  display: flex;
  flex-flow: row, nowrap;
  bottom: 0px;
  /* background-color: blue; */
}
.onboardingWantSee .info {
  margin-top: 160px;
}
/* 텍스트 사이즈 */

.info__subText {
  font-size: var(--label-xl);
  font-weight: bold;
  color: var(--gray-200);
}

.info__smallText {
  font-size: var(--paragraph-l);
  font-weight: regular;
  color: var(--gray-200);
}

/* 내가 찾던 재미 */
.onboardingWantSee {
  text-align: center;
}
.info {
  margin-bottom: 160px;
}
.info__mainText {
  margin-bottom: 20px;
  font-size: var(--heading-xxl);
  font-weight: bold;
  line-height: 150%;
}
.info__subText {
  margin-bottom: 60px;
}
/* swiper 부분 */
.swiper {
  width: 1920px;
  height: 100%;
  margin-bottom: 8px;
}
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-m);
}
.onboardingWantSee--swiper {
  margin-top: 34px;
}
.onboardingStartNow {
  margin-top: 289.5px;
}
.onboardingStartNow--content {
  text-align: center;
  align-items: center;
}
.content--link {
  font-weight: 600;
  width: 100%;
  height: 100%;
}
.content--des {
  font-size: var(--heading-xxxl);
  font-weight: 700;
  margin: 36px 0 36px 0;
}
.content--img {
  width: 320px;
  height: 80px;
}

.content--btn {
  border-radius: var(--radius-m);
  background-color: #ff153c;
  width: 506px;
  height: 80px;
  margin-top: 30px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content--btn img {
  position: absolute;
  top: 0;
  left: 10px;
}

.link--des {
  font-size: var(--label-xl);
  font-weight: 600;
}

footer {
  margin: 30px 68px 0 68px;
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--gray-500);
  /* margin-bottom: 100px; */
}
.footer-info a {
  text-decoration: underline;
}
.appFooter--list {
  display: flex;
  color: var(--gray-200);
  margin-top: 100px;
  margin-bottom: 24px;
  gap: 1.5rem;
}

.iconList ul {
  display: flex;
  margin: 24px 0 24px 0;
}

.iconList img {
  margin-right: 16px;
  width: 30px;
}
.footer-info address {
  display: inline;
}
