/* :root {
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-base: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --container-width: 64rem;
}
 */

/* 피그마 시안 기반 사이즈 정리(1rem을 기준으로 계산. 소수점 두자리까지 반올림하여 반영) */
:root {
  /* 16 */
  --heading-m: 1rem;
  /* 21.3 */
  --heading-l: 1.33rem;
  /* 28.4 */
  --heading-xl: 1.78rem;
  /* 37.9 */
  --heading-xxl: 2.37rem;
  /* 50.5 */
  --heading-xxxl: 3.2rem;
  /* 12 */
  --label-s: 0.75rem;
  /* 16 */
  --label-m: 1rem;
  /* 21.3 */
  --label-l: 1.33rem;
  /* 28.4 */
  --label-xl: 1.78rem;
  /* 37.9 */
  --label-xxl: 2.37rem;
  /* 12 */
  --paragraph-s: 0.75rem;
  /* 16 */
  --paragraph-m: 1rem;
  /* 21.3 */
  --paragraph-s: 1.33rem;
  /* 28.4 */
  --paragraph-s: 1.775rem;
}

/* 팀원들 공유 후 추가한 디자인 시스템 */
:root {
  /* 4px */
  --radius-m: 0.25rem;
}
