.popular-programs-list {
  display: flex;
}

.popular-programs-list {
  list-style: none;
}

.popular-programs-thumbnail img {
  width: 240px;
  height: 345px;
  border-radius: 4px;
}

.popular-programs-caption {
  color: #c4c4c4;
}
.popular-programs-caption::before {
  content: "1";
  font-weight: bold;
  font-size: 70px;
  color: black;
  display: inline-block;
  font-style: italic;
}
.popular-programs-link {
  text-decoration: none;
}
@import url(./reset.css);

body {
}

.live_channel {
  width: 1920px;
  padding: 20px 70px;
  background-color: black;
  color: #fff;
}

.title_wrap {
  margin-bottom: 12px;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 16px;
}

.swiper-slide {
  width: 250px;
}

.swiper-slide img {
  width: 100%;
}

.label_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.ranking {
  font-size: 45px;
  font-weight: 500;
}

.label_info {
}

.title {
  color: #c4c4c4;
}

.sub_title {
  color: #a6a6a6;
}

.viewer {
  color: #6b6b6b;
}

.img_frame li {
  background: darkorange;
  width: 285px;
  height: 570px;
  border-radius: 4px;
  list-style: none;
  overflow: hidden;
}
