html {
  font-size: calc(6px + 0.5vw);
}

h2 {
  font-size: 1.7rem;
  padding: 15px 0 12px;
}

figcaption {
  color: var(--gray-100);
  font-size: 1.2rem;
  margin-top: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** 공통 영역 Css **/
.overflow__hidden {
  overflow: hidden;
}

/** 티빙에서 꼭 봐야하는 콘텐츠 영역 css **/
.taing-must {
  background: black;
}

.taing-must__container {
  position: relative;
  left: 50px;
}

.taing-must__title {
  font-style: bold;
  height: auto;
  margin: 0;
}

.taing-must {
  width: 100%;
}

.taing-must__container {
  display: flex;
  flex-direction: column;
}

.taing-must__list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.taing-must__list li:hover {
  transform: translateY(-12px);
  transition: all 0.5s;
}

.taing-must__list figure {
  border-radius: 4px;
  width: 100%;
}

.taing-must__list a {
  text-decoration-line: none;
}

.taing-must__list img {
  width: 100%;
}

/** 실시간 인기 프로그램 css **/
.taing-live-rank {
  background: black;
}

.taing-live-rank__container {
  position: relative;
  left: 50px;
}

.taing-live-rank__title {
  font-style: bold;
  color: white;
  height: auto;
  margin: 0;
}

.taing-live-rank {
  width: 100%;
}

.taing-live-rank__container {
  display: flex;
  flex-direction: column;
}

.taing-live-rank__list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.taing-live-rank__list li:hover {
  transform: translateY(-12px);
  transition: all 0.5s;
}

.taing-live-rank__list figure {
  border-radius: 4px;
  width: 100%;
}

.taing-live-rank__list a {
  text-decoration-line: none;
}

.taing-live-rank__list img {
  width: 100%;
}

/** 오직 티빙에만 있어요 css **/
.taing-only-tving {
  background: black;
}

.taing-only-tving__container {
  position: relative;
  left: 50px;
}

.taing-only-tving__title {
  font-style: bold;
  color: white;
  height: auto;
  margin: 0;
}

.taing-only-tving {
  width: 100%;
}

.taing-only-tving__container {
  display: flex;
  flex-direction: column;
}

.taing-only-tving__list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.taing-only-tving__list li:hover {
  transform: translateY(-12px);
  transition: all 0.5s;
}

.taing-only-tving__list figure {
  border-radius: 4px;
  width: 100%;
}

.taing-only-tving__list a {
  text-decoration-line: none;
}

.taing-only-tving__list img {
  width: 100%;
}

/** 공통 버튼 부분 **/
.swiper-button-prev {
  color: var(--white);
}

.swiper-button-next {
  color: var(--white);
  position: absolute;
  right: 100px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #fff;
}

.contents-list {
  padding: 0 70px 36px;
  background-color: var(--black);
}

.swiper {
  overflow: visible;
}

.swiper-wrapper {
}

.swiper-slide {
  width: 100%;
}

.badge::before {
  position: absolute;
  content: url(/client/assets/svg/live/vod.svg);
  margin: 5px 0 0 5px;
}

figcaption {
  white-space: nowrap;
  line-height: 1.5;
}

figcaption .img-title {
  font-size: 1.2rem;
  margin: 8px 0 4px;
  color: var(--gray-200);
}

.round,
.sub-title {
  font-size: 1rem;
  color: var(--gray-300);
}

.viewer {
  color: var(--gray-500);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  box-shadow: 0 0 5px #555;
  border-radius: 50px;
  opacity: 0.5;
  color: var(--gray-400);
  background-color: var(--black);
}

.swiper-button-next::after {
  position: absolute;
  right: 16px;
}

.swiper-button-prev::after {
  position: absolute;
  left: 16px;
}

.swiper-button-next {
  right: -50px;
}
.swiper-button-prev {
  left: -50px;
}
