@import url(../../../client/css/theme.css);

/** 공통사항 **/

body {
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  text-decoration: none;
}

html {
  font-size: calc(6px + 0.5vw);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 12px;
}

figcaption {
  color: var(--gray-100);
  font-size: 1.3rem;
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 150%;
}

/** ---------뽑아쓰는거------------ **/

.overflow__hidden {
  overflow: hidden;
}

.clickable {
  z-index: 10;
}

/** ---------------------------- **/

/* -----------------유선님 작업 헤더 스타일----------------- */

/* 헤더 */
.webHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.webHeader__NavMenu,
.member-container button {
  /* display: none; */
}
.webHeader__logaNavContainer {
  display: flex;
  flex-flow: row nowrap;
}
.webHeader__logo {
  margin: 20px;
}
.webHeader__logo__img {
  width: 8rem;
}
.webHeader__logo__link {
  display: inline-block;
}

.NavMenu__list {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
  align-items: center;
  font-size: var(--label-l);
  color: var(--white);
}

.NavMenu__list__item {
  margin-right: 50px;
}
.NavMenu__list__liveItem {
  display: flex;
  align-items: center;
}
.NavMenu__list__liveItem__img {
  width: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.NavMenu__list__item__img {
  width: 70px;
}

.member-container {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 7px;
  margin-right: 30px;
}
.member-container__btn {
  background: none;
  border: none;
  width: 35px;
  margin-right: 10px;
}
.member-container__img {
  width: 100%;
}

/* -----------------유선님 작업 헤더 스타일 끝----------------- */

/* ------------ hero start -------------- */

.hero--wrapper {
  width: 100%;
  height: 80%;
  position: relative;
  /* margin: 0 auto; */
}

.pannel {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 30%;
}

.controler {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
}

.contents {
  box-sizing: border-box;
  position: absolute;
  bottom: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* z-index: 9; */
  padding: 0 4rem;
}

.contents--left--description {
  font-size: 1.5rem;
}

.content--control {
  display: flex;
  position: relative;
  margin: 10px auto;
  gap: 10px;
}

.content--control .swiper-pagination {
  position: relative;
}

.content--control .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: var(--white);
}

.swiper-stop-button button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
}

.detail--button {
  width: 10rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border: 1px solid var(--gray-300);
  color: var(--white);
  border-radius: 10px;
}

.detail--button > a {
  display: block;
}

.hero--wrapper .swiper-slide {
  text-align: center;

  /* Center slide text vertically */

  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.hero--wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .hero--wrapper .swiper-button-next::after,
.hero--wrapper .swiper-button-prev::after {
  color: var(--gray-400);
} */

.hero .swiper-button-lock {
  display: block;
}

.hero > .swiper-slide > a {
  position: relative;
}

.gradient {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 60%, black);
}

/* --------------- hero End --------------- */

/** 진섭 공통 부분 **/

/** 티빙에서 꼭 봐야하는 콘텐츠 영역 css **/
.taing-must__container {
  padding: 0 0 32px 70px;
}

.taing-must__title {
  display: block;
  padding: 0 0 0.75rem;
  color: white;
}

.taing-must__container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.taing-must__list {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  gap: 0.8rem;
}

.taing-must__list li {
  transition: all 0.5s;
}

.taing-must__list li:hover {
  transition: all 0.5s;
  transform: translateY(-10px);
}

.taing-must__list figure {
  border-radius: 4px;
  width: 100%;
}

.taing-must__list a {
  text-decoration-line: none;
}

.taing-must__list img {
  width: 100%;
}

/** 실시간 인기 프로그램 css **/

.taing-live-rank {
  margin-bottom: 36px;
}

.taing-live-rank__container {
  padding: 0 0 0 70px;
}

.taing-live-rank__title {
  display: block;
  padding: 0 0 0.75rem;
  color: white;
}

.taing-live-rank__container {
  display: flex;
  flex-direction: column;
}

.taing-live-rank__list {
  /* display: flex; */
  /* flex-direction: row; */
  gap: 0.8rem;
}

.taing-live-rank__list li {
  transition: all 0.5s;
}

.taing-live-rank__list li:hover {
  transition: all 0.5s;
  transform: translateY(-10px);
}

.taing-live-rank__list figure {
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.taing-live-rank figcaption {
  padding-top: 15px;
  position: absolute;
  width: 100%;
  top: 90%;
  left: -5%;
}

.taing-live-rank-ordered {
  font-size: 4.375rem;
  font-weight: 700;
  font-style: italic;
  transform: translateY(-0.937rem);
  z-index: 100;
  margin-right: 3px;
  text-shadow: 1px 1px black;
}

.taing-live-rank__list a {
  text-decoration-line: none;
}

.taing-live-rank__list img {
  width: 100%;
}

/** 오직 티빙에만 있어요 css **/
.taing-only-tving__container {
  padding: 0 0 36px 70px;
}

.taing-only-tving__title {
  padding: 0 0 0.75rem;
  color: white;
}

.taing-only-tving__container {
  display: flex;
  flex-direction: column;
}

.taing-only-tving__list {
  /* display: flex; */
  /* flex-direction: row; */
  gap: 0.8rem;
}

.taing-only-tving__list li {
  transition: all 0.5s;
}

.taing-only-tving__list li:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}

.taing-only-tving__list figure {
  border-radius: 4px;
  width: 100%;
}

.taing-only-tving__list a {
  text-decoration-line: none;
}

.taing-only-tving__list img {
  width: 100%;
}
/** 진섭 버튼 부분 **/
.swiper-button-prev {
  color: white;
}

.swiper-button-next {
  color: white;
}

/** ----------------------- **/

.title {
  font-size: calc(20px + 0.5vw);
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: var(--white);
}

.contents__list img {
  width: 100%;
}

.contents__inner {
  padding: 0 70px 36px;
}

.items li {
  padding-right: 1rem;
  box-sizing: border-box;
}

.items li,
.sports-img {
  transition: 0.5s;
}

.items li:hover,
.sports-img:hover {
  transform: translateY(-10px);
}

.badge-name {
  position: absolute;
  top: 0;
  width: 6rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 0 5px;
  border-radius: 4px;
  background-color: var(--brand-red-3);
  font-size: 1rem;
}

.Live-info {
  position: relative;
}

.Live-progress-bar {
  position: absolute;
  width: 10.625rem;
  height: 0.25rem;
  bottom: 0;
  transform: translateY(-50%);
  background: url(/client/assets/svg/live/progress_bar.svg) no-repeat;
}

.Live-info .middle-bar {
  width: 5.625rem;
}

.Live-info .short-bar {
  width: 3.125rem;
}

.items figcaption {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}

.slide-info {
  overflow: hidden;
}

.information {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 1.25rem;
}

.rank {
  font-size: 4.375rem;
  font-weight: 700;
  font-style: italic;
  transform: translateY(-0.937rem);
}

.name {
  color: var(--gray-200);
}

.round,
.sub-name {
  font-size: 1rem;
  color: var(--gray-300);
}

.name,
.sub-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.viewer {
  font-size: 1rem;
  color: var(--gray-500);
}

.swiper-button-lock {
  display: flex;
}

.contents__inner .swiper-button-next,
.contents__inner .swiper-button-prev {
  position: absolute;
  top: 0;
  width: 3.125rem;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
}

/* -----------------유선님 작업 푸터 스타일----------------- */
footer {
  margin: 30px 68px 0 68px;
  font-size: var(--paragraph-l);
  line-height: 150%;
  color: var(--gray-500);
  /* margin-bottom: 100px; */
}
.footer-info a {
  text-decoration: underline;
}
.appFooter--list {
  display: flex;
  color: var(--gray-200);
  margin-top: 100px;
  margin-bottom: 24px;
  gap: 36px;
}

.iconList ul {
  display: flex;
  margin: 24px 0 24px 0;
}

.iconList img {
  margin-right: 16px;
  width: 30px;
}
.footer-info address {
  display: inline;
}
